{% extends 'base.html' %}

{% block css %}
<style>

    .container {

        width: 750px;
        border-radius: 25px;
        border-color:#0066ff;
        border-style: solid;
        margin-top: 50px;

    }
    .form-row {
        margin-top: 20px;
        margin-bottom: 20px;

    }

    button {
        margin-bottom: 20px;
        text-align: center;
    }

   

</style>
{% endblock %}

{% block title %} Welcome {% endblock %}



{% block content %}
{% load crispy_forms_tags %}
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iconfinder.com%2Ficons%2F2503402%2Faccount_avatar_blue_man_people_person_profile_icon&psig=AOvVaw2ZaT4V3IxPoWx1bt0VcGd8&ust=1582825343063000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjg-Yni7-cCFQAAAAAdAAAAABAP"></img>

    <div class="container">
        <form method="POST" novaildate>
            {% csrf_token %}
            
            <div class="form-row">
                <div class="form-group col-md-4 mb-0 ">
                    {{ user_form.first_name |as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ user_form.last_name |as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ Studform.date_of_birth |as_crispy_field }}
                </div>
                
            </div>


            {{ user_form.email |as_crispy_field }}


            <div class="form-row">
                <div lass="form-group col-md-8 mb-0" >
                    {{ Studform.street_address  |as_crispy_field }}
                </div>
                <div class="form-group col-md-8 mb-0">
                    {{ Studform.apt  |as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ Studform.city   |as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ Studform.state  |as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                    {{ Studform.zip_code  |as_crispy_field }}
                </div>
            </div>


            <h6>If You are planning to go to work after highschool eneter the following:</h6>



            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ Studform.company_name   |as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ Studform.job_title  |as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                    {{ Studform.wage  |as_crispy_field }}
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ Studform.company_address   |as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ Studform.company_number  |as_crispy_field }}
                </div>
            </div>



            <h6>If you are planning to go to college or post grad technincal highschool enter the following:</h6>


            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ Studform.college_attend   |as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ Studform.college_major  |as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ Studform.college_year_length  |as_crispy_field }}
                </div>
            </div>   
            
            

            <div>
                {{ Studform.college_acceptance_letter  |as_crispy_field }}
            </div>



            <h6>If you are planning on going to the Military enter the following:</h6>
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ Studform.military_branch   |as_crispy_field }}
                </div>
            </div>



            <div>
                {{ Studform.military_letter |as_crispy_field }}
            </div>



            <h6>Have you reseved the following:</h6>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                    {{ Studform.A_adams_scholarship   |as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                    {{ Studform.osha_training |as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                    {{ Studform.WTHS_certification   |as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                    {{ Studform.osha_number   |as_crispy_field }}
                </div>
            </div>
            <div class= "row justify-content-center">
                <button type="submit" class="btn btn-primary" >confirm</button>
            </div>
        </form>

    </div>    

{% endblock %}
