<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!DOCTYPE html>
        <html lang="en">
        
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Profile Edit</title>
        </head>
        
        <body>
            <h1>{{last}}</h1>
            <ul>
                <li> {{stud.student_id}}   </li>           
                <li>{{stud.year_of_graduation}} </li>       
                <li> {{stud.date_of_birth}}  </li>                
                <li> {{stud.technical_program}}   </li>            
                <li>{{stud.street_address}}  </li>                
                <li>{{stud.city}}           </li>                 
                <li>{{stud.apt}}       </li>                     
                <li>{{stud.state}}      </li>                    
                <li>{{stud.zip_code}}    </li>                    
                <li>{{stud.phone_number}} </li>                   
                <li>{{stud.company_name}}  </li>                  
                <li>{{stud.company_adddress}}  </li>              
                <li>{{stud.job_title}}    </li>                   
                <li>{{stud.wage}}          </li>                  
                <li>{{stud.college_acceptance_letter}}       </li>
                <li>{{stud.college_attend}}             </li>     
                <li>{{stud.college_year_lenght}}       </li>      
                <li>{{stud.military_branch}}            </li>     
                <li>{{stud.military_letter}}              </li>
                <li>{{stud.A_adams_scholarship}}          </li>  
                <li>{{stud.technical_certification}} </li>        
                <li>{{stud.osha_training}}                   
                <li>{{stud.osha_number}}             </li>        
                <li>{{stud.WTHS_certification}} </li>             
                <li>{{stud.future_plans}} </li>       

                </ul>    
        </body>
        
        </html>
